<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SimpleWCFService.Service1">
                <endpoint address=""
                        binding="basicHttpBinding"
                        bindingNamespace="http://wcf.test.org"
                        contract="SimpleWCFService.IService1" />
              
                <endpoint address="mex" binding="mexHttpBinding"
                          contract="IMetadataExchange"  />
              
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8734/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
