<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <system.serviceModel>
        <behaviors>
          <endpointBehaviors>
            <behavior name="RESTEndpointBehavior" >
              <webHttp/>
            </behavior>
          </endpointBehaviors>
          
          
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
  
  
        <services>
            <service name="RESTServiceConsoleApp.DataService">
                <endpoint address="" behaviorConfiguration="RESTEndpointBehavior"
                          binding="webHttpBinding" 
                          contract="RESTServiceConsoleApp.IDataService">
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1111/RESTDataService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
