<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="customFilterBehavior">
          <cultureFilterBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="WCFServiceApp.Service1" >
        <endpoint  behaviorConfiguration="customFilterBehavior"
          address="" 
          binding="basicHttpBinding" 
          contract="WCFServiceApp.IService1" />
      </service>
    </services>
 
    <extensions>
      <behaviorExtensions>
        <add name="cultureFilterBehavior" 
             type="CustomLib.CultureHeaderFilterEndpointBehaviorExtension, CustomLib"
             />
        
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
