<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheFor30Seconds" duration="30" varyByParam="None" enabled="true"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"   multipleSiteBindingsEnabled="true"  />
    
    <services>
      <service name="WCFRESTService.DataService">
        <endpoint address="" behaviorConfiguration="RESTEndpoint"
                  binding="webHttpBinding"
                  contract="WCFRESTService.IDataService"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpoint">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      
      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
