<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!-- the equivalent configuration to the code-->
  
  <!--<system.serviceModel>
    <services>
      <service
        name="ServiceApp.OrderProcessorService" behaviorConfiguration="msmqsvcBehavior"  >
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:7878/msmqsvc"/>
          </baseAddresses>
        </host>
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\testqueue"
                                binding="msmqIntegrationBinding"
                  bindingConfiguration="OrderProcessorBinding"
                  contract="ClassLib.IOrderProcessor">
        </endpoint>
      </service>
    </services>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="OrderProcessorBinding" >
          <security mode="None"  />
        </binding>
      </msmqIntegrationBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="msmqsvcBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel >-->
  
</configuration>